<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="primeu_description">
  
  <!-- Import robot links and joints (converted from primeu_robot.urdf) -->
  <xacro:include filename="$(find primeu_description)/urdf/primeu_robot_links.urdf.xacro" />
  
  <!-- Import hybrid ros2_control description (EtherCAT + CAN) -->
  <xacro:include filename="$(find primeu_description)/urdf/primeu_hybrid.ros2_control.xacro" />

  <!-- Insert all robot links and joints -->
  <xacro:primeu_robot_links />

  <!-- Add world link and joint to fix visualization -->
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="body_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Include hybrid ros2_control (EtherCAT + CAN) -->
  <xacro:primeu_hybrid_ros2_control name="PrimeU" />

</robot>
